<a href="https://colab.research.google.com/github/RoshniK-23/Data-Visualization/blob/main/ipl_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
ipl_data = pd.read_csv("/content/IPL_BallByBall2008_2024(Updated).csv")

<ipython-input-35-19a84651db64>:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  ipl_data = pd.read_csv("/content/IPL_BallByBall2008_2024(Updated).csv")

In [ ]:
ipl_data.head(5)

,Match id,Date,Season,Batting team,Bowling team,Innings No,Ball No,Bowler,Striker,Non Striker,runs_scored,extras,type of extras,score,score/wicket,wicket_confirmation,wicket_type,fielders_involved,Player Out
0,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.1,P Kumar,SC Ganguly,BB McCullum,0,1,legbyes,1,1/0,0,NaN,NaN,NaN
1,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.2,P Kumar,BB McCullum,SC Ganguly,0,0,NaN,1,1/0,0,NaN,NaN,NaN
2,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.2,P Kumar,BB McCullum,SC Ganguly,0,1,wides,2,2/0,0,NaN,NaN,NaN
3,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.3,P Kumar,BB McCullum,SC Ganguly,0,0,NaN,2,2/0,0,NaN,NaN,NaN
4,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.4,P Kumar,BB McCullum,SC Ganguly,0,0,NaN,2,2/0,0,NaN,NaN,NaN

Match Analysis

1. Total runs scored in each match

In [ ]:
# Total runs scored in each match
total_runs_per_match = ipl_data.groupby('Match id')['runs_scored'].sum().reset_index()
total_runs_per_match.columns = ['Match id', 'Total Runs']
print(total_runs_per_match)

      Match id  Total Runs
0       335982         268
1       335983         430
2       335984         244
3       335985         315
4       335986         184
...        ...         ...
1068   1426283         383
1069   1426284         334
1070   1426285         293
1071   1426286         270
1072   1426287         297

[1073 rows x 2 columns]

2. Total wickets taken in each match

In [ ]:
# Total wickets taken in each match
total_wickets_per_match = ipl_data[ipl_data['wicket_confirmation'] == 1].groupby('Match id').size().reset_index(name='Total Wickets')
print(total_wickets_per_match)

      Match id  Total Wickets
0       335982             13
1       335983              9
2       335984              9
3       335985             12
4       335986             15
...        ...            ...
1068   1426283              4
1069   1426284             13
1070   1426285             12
1071   1426286             13
1072   1426287             10

[1073 rows x 2 columns]

3. Runs scored by each team in different matches

In [ ]:
# Runs scored by each team in different matches
runs_per_team_per_match = ipl_data.groupby(['Match id', 'Batting team'])['runs_scored'].sum().reset_index()
runs_per_team_per_match.columns = ['Match id', 'Batting team', 'Total Runs']
print(runs_per_team_per_match)

      Match id                 Batting team  Total Runs
0       335982        Kolkata Knight Riders         205
1       335982  Royal Challengers Bangalore          63
2       335983          Chennai Super Kings         234
3       335983              Kings XI Punjab         196
4       335984             Delhi Daredevils         122
...        ...                          ...         ...
2138   1426285        Kolkata Knight Riders         153
2139   1426286         Lucknow Super Giants         134
2140   1426286               Mumbai Indians         136
2141   1426287          Chennai Super Kings         144
2142   1426287                 Punjab Kings         153

[2143 rows x 3 columns]

Player Performance

1. Top run-scorers of each season

In [ ]:
# Top run-scorers of each season
top_scorers_per_season = ipl_data.groupby(['Season', 'Striker'])['runs_scored'].sum().reset_index()
top_scorers_per_season = top_scorers_per_season.sort_values(['Season', 'runs_scored'], ascending=[True, False]).groupby('Season').head(10)
print(top_scorers_per_season)

     Season         Striker  runs_scored
29     2012        CH Gayle          487
46     2012       G Gambhir          411
31     2012        CL White          361
136    2012        V Sehwag          342
61     2012       JH Kallis          316
...     ...             ...          ...
2729   2021  AB de Villiers          125
2807   2021       SV Samson          124
2802   2021        SA Yadav          121
2759   2021     JM Bairstow          110
2775   2021          MM Ali          108

[200 rows x 3 columns]

2. Most wickets taken by bowlers each season

In [ ]:
# Most wickets taken by bowlers each season
wickets_per_bowler_per_season = ipl_data[ipl_data['wicket_confirmation'] == 1].groupby(['Season', 'Bowler']).size().reset_index(name='Total Wickets')
wickets_per_bowler_per_season = wickets_per_bowler_per_season.sort_values(['Season', 'Total Wickets'], ascending=[True, False]).groupby('Season').head(10)
print(wickets_per_bowler_per_season)

     Season             Bowler  Total Wickets
75     2012          SP Narine             21
21     2012           DJ Bravo             17
80     2012           UT Yadav             16
15     2012      Azhar Mahmood             14
19     2012      BW Hilfenhaus             14
...     ...                ...            ...
1687   2021         C Sakariya              6
1713   2021  Mustafizur Rahman              6
1684   2021     Arshdeep Singh              5
1688   2021          CH Morris              5
1689   2021          CR Woakes              5

[200 rows x 3 columns]

3. Consistent performers across multiple seasons

In [ ]:
# Consistent performers across multiple seasons
consistent_scorers = ipl_data.groupby(['Striker', 'Season'])['runs_scored'].sum().reset_index()
consistent_scorers = consistent_scorers.groupby('Striker').agg({'Season': 'count', 'runs_scored': 'mean'}).reset_index()
consistent_scorers = consistent_scorers[consistent_scorers['Season'] >= 3].sort_values('runs_scored', ascending=False)
print(consistent_scorers)

               Striker  Season  runs_scored
624            V Kohli      19   409.105263
145          DA Warner      17   386.235294
469         RD Gaikwad       6   384.333333
286           KL Rahul      12   381.250000
361          ML Hayden       3   369.000000
..                 ...     ...          ...
436            PP Ojha       7     2.285714
333  M Prasidh Krishna       5     1.800000
100         BAW Mendis       3     1.000000
15             A Singh       3     0.666667
282           KK Ahmed       4     0.250000

[348 rows x 3 columns]

Team Performance

1. Team-wise performance in different seasons

In [ ]:
# Team-wise performance in different seasons
team_performance_per_season = ipl_data.groupby(['Season', 'Batting team'])['runs_scored'].sum().reset_index()
team_performance_per_season = team_performance_per_season.sort_values(['Season', 'runs_scored'], ascending=[True, False])
print(team_performance_per_season)

    Season                 Batting team  runs_scored
0     2012          Chennai Super Kings         1672
4     2012        Kolkata Knight Riders         1602
2     2012             Delhi Daredevils         1580
5     2012               Mumbai Indians         1559
8     2012  Royal Challengers Bangalore         1428
..     ...                          ...          ...
164   2021             Rajasthan Royals          485
165   2021  Royal Challengers Bangalore          483
161   2021        Kolkata Knight Riders          472
159   2021          Chennai Super Kings          452
166   2021          Sunrisers Hyderabad          433

[167 rows x 3 columns]

2. Head-to-head performance of different teams

In [ ]:
# Head-to-head performance of different teams
head_to_head_performance = ipl_data.groupby(['Batting team', 'Bowling team'])['runs_scored'].sum().reset_index()
head_to_head_performance = head_to_head_performance.sort_values('runs_scored', ascending=False)
print(head_to_head_performance)

                    Batting team                 Bowling team  runs_scored
116               Mumbai Indians          Chennai Super Kings         5579
8            Chennai Super Kings               Mumbai Indians         5395
131               Mumbai Indians  Royal Challengers Bangalore         4979
193  Royal Challengers Bangalore               Mumbai Indians         4914
124               Mumbai Indians        Kolkata Knight Riders         4792
..                           ...                          ...          ...
203  Royal Challengers Bengaluru         Lucknow Super Giants          142
138                Pune Warriors         Kochi Tuskers Kerala          140
85          Kochi Tuskers Kerala                Pune Warriors          137
18               Deccan Chargers         Kochi Tuskers Kerala          122
80          Kochi Tuskers Kerala              Deccan Chargers           67

[224 rows x 3 columns]

Inning Analysis

1. Runs scored in powerplay vs. middle overs vs. death over

In [ ]:
# Define over ranges
powerplay_overs = range(1, 7)
middle_overs = range(7, 16)
death_overs = range(16, 21)

# Calculate runs in each phase
ipl_data['Over'] = ipl_data['Ball No'].apply(lambda x: int(x))
powerplay_runs = ipl_data[ipl_data['Over'].isin(powerplay_overs)].groupby(['Match id', 'Batting team'])['runs_scored'].sum().reset_index(name='Powerplay Runs')
middle_overs_runs = ipl_data[ipl_data['Over'].isin(middle_overs)].groupby(['Match id', 'Batting team'])['runs_scored'].sum().reset_index(name='Middle Overs Runs')
death_overs_runs = ipl_data[ipl_data['Over'].isin(death_overs)].groupby(['Match id', 'Batting team'])['runs_scored'].sum().reset_index(name='Death Overs Runs')

# Merge results
inning_runs = pd.merge(powerplay_runs, middle_overs_runs, on=['Match id', 'Batting team'])
inning_runs = pd.merge(inning_runs, death_overs_runs, on=['Match id', 'Batting team'])
print(inning_runs)

      Match id           Batting team  Powerplay Runs  Middle Overs Runs  \
0       335982  Kolkata Knight Riders              57                 84
1       335983    Chennai Super Kings              53                104
2       335983        Kings XI Punjab              60                100
3       335984       Rajasthan Royals              41                 56
4       335985         Mumbai Indians              40                 56
...        ...                    ...             ...                ...
2008   1426285  Kolkata Knight Riders              64                 62
2009   1426286   Lucknow Super Giants              54                 60
2010   1426286         Mumbai Indians              31                 66
2011   1426287    Chennai Super Kings              51                 44
2012   1426287           Punjab Kings              46                 84

      Death Overs Runs
0                   64
1                   72
2                   31
3                   25
4                   50
...                ...
2008                12
2009                19
2010                38
2011                46
2012                12

[2013 rows x 5 columns]

2. Wicket patterns in different phases of an inning

In [ ]:
# Calculate wickets in each phase
powerplay_wickets = ipl_data[(ipl_data['Over'].isin(powerplay_overs)) & (ipl_data['wicket_confirmation'] == 1)].groupby(['Match id', 'Batting team']).size().reset_index(name='Powerplay Wickets')
middle_overs_wickets = ipl_data[(ipl_data['Over'].isin(middle_overs)) & (ipl_data['wicket_confirmation'] == 1)].groupby(['Match id', 'Batting team']).size().reset_index(name='Middle Overs Wickets')
death_overs_wickets = ipl_data[(ipl_data['Over'].isin(death_overs)) & (ipl_data['wicket_confirmation'] == 1)].groupby(['Match id', 'Batting team']).size().reset_index(name='Death Overs Wickets')

# Merge results
inning_wickets = pd.merge(powerplay_wickets, middle_overs_wickets, on=['Match id', 'Batting team'])
inning_wickets = pd.merge(inning_wickets, death_overs_wickets, on=['Match id', 'Batting team'])
print(inning_wickets)

      Match id                 Batting team  Powerplay Wickets  \
0       335982        Kolkata Knight Riders                  1
1       335983              Kings XI Punjab                  1
2       335984             Rajasthan Royals                  3
3       335985               Mumbai Indians                  3
4       335985  Royal Challengers Bangalore                  1
...        ...                          ...                ...
1277   1426282         Lucknow Super Giants                  1
1278   1426284          Chennai Super Kings                  1
1279   1426284          Sunrisers Hyderabad                  3
1280   1426285               Delhi Capitals                  4
1281   1426286               Mumbai Indians                  4

      Middle Overs Wickets  Death Overs Wickets
0                        1                    1
1                        2                    1
2                        4                    1
3                        1                    3
4                        3                    1
...                    ...                  ...
1277                     2                    1
1278                     1                    1
1279                     3                    4
1280                     4                    1
1281                     1                    2

[1282 rows x 5 columns]

3. Impact of extras on the final score

In [ ]:
# Impact of extras on the final score
extras_impact = ipl_data.groupby(['Match id', 'Batting team']).agg({'runs_scored': 'sum', 'extras': 'sum'}).reset_index()
extras_impact['Percentage of Extras'] = (extras_impact['extras'] / extras_impact['runs_scored']) * 100
print(extras_impact)

      Match id                 Batting team  runs_scored  extras  \
0       335982        Kolkata Knight Riders          205      17
1       335982  Royal Challengers Bangalore           63      19
2       335983          Chennai Super Kings          234       6
3       335983              Kings XI Punjab          196      11
4       335984             Delhi Daredevils          122      10
...        ...                          ...          ...     ...
2138   1426285        Kolkata Knight Riders          153       4
2139   1426286         Lucknow Super Giants          134      11
2140   1426286               Mumbai Indians          136       8
2141   1426287          Chennai Super Kings          144      18
2142   1426287                 Punjab Kings          153      10

      Percentage of Extras
0                 8.292683
1                30.158730
2                 2.564103
3                 5.612245
4                 8.196721
...                    ...
2138              2.614379
2139              8.208955
2140              5.882353
2141             12.500000
2142              6.535948

[2143 rows x 5 columns]

Ball-by-Ball Analysis

1. Dot ball percentage for different bowlers

In [ ]:
# Dot ball percentage for different bowlers
dot_balls = ipl_data[ipl_data['runs_scored'] == 0].groupby('Bowler').size().reset_index(name='Dot Balls')
total_balls = ipl_data.groupby('Bowler').size().reset_index(name='Total Balls')
dot_ball_percentage = pd.merge(dot_balls, total_balls, on='Bowler')
dot_ball_percentage['Dot Ball Percentage'] = (dot_ball_percentage['Dot Balls'] / dot_ball_percentage['Total Balls']) * 100
print(dot_ball_percentage)

             Bowler  Dot Balls  Total Balls  Dot Ball Percentage
0    A Ashish Reddy         89          270            32.962963
1          A Badoni          6           19            31.578947
2        A Chandila        105          234            44.871795
3       A Choudhary         49          108            45.370370
4       A Dananjaya          7           25            28.000000
..              ...        ...          ...                  ...
508      Yash Dayal        213          516            41.279070
509     Yash Thakur        149          388            38.402062
510   Yudhvir Singh         27           50            54.000000
511    Yuvraj Singh        282          882            31.972789
512          Z Khan       1005         2276            44.156415

[513 rows x 4 columns]

2. Boundary percentage for different batsmen

In [ ]:
# Boundary percentage for different batsmen
boundaries = ipl_data[ipl_data['runs_scored'].isin([4, 6])].groupby('Striker').size().reset_index(name='Boundaries')
total_balls_faced = ipl_data.groupby('Striker').size().reset_index(name='Total Balls Faced')
boundary_percentage = pd.merge(boundaries, total_balls_faced, on='Striker')
boundary_percentage['Boundary Percentage'] = (boundary_percentage['Boundaries'] / boundary_percentage['Total Balls Faced']) * 100
print(boundary_percentage)

            Striker  Boundaries  Total Balls Faced  Boundary Percentage
0    A Ashish Reddy          31                196            15.816327
1          A Badoni          57                441            12.925170
2          A Chopra           7                 75             9.333333
3       A Choudhary           2                 20            10.000000
4        A Flintoff           7                 57            12.280702
..              ...         ...                ...                  ...
552        YV Dhull           1                 23             4.347826
553     YV Takawale          29                183            15.846995
554   Yashpal Singh           5                 67             7.462687
555    Yuvraj Singh         367               2207            16.628908
556          Z Khan          13                141             9.219858

[557 rows x 4 columns]

3. Patterns in scoring and wicket-taking for different bowlers

In [ ]:
# Patterns in scoring and wicket-taking for different bowlers
bowler_performance = ipl_data.groupby('Bowler').agg({'runs_scored': 'sum', 'wicket_confirmation': 'sum'}).reset_index()
print(bowler_performance)

             Bowler  runs_scored  wicket_confirmation
0    A Ashish Reddy          386                   19
1          A Badoni           17                    2
2        A Chandila          242                   11
3       A Choudhary          137                    5
4       A Dananjaya           46                    0
..              ...          ...                  ...
518      Yash Dayal          738                   23
519     Yash Thakur          574                   26
520   Yudhvir Singh           64                    3
521    Yuvraj Singh         1064                   39
522          Z Khan         2691                  119

[523 rows x 3 columns]

Seasonal Trends

1. Overall run rates across seasons

In [ ]:
# Overall run rates across seasons
total_runs_per_season = ipl_data.groupby('Season')['runs_scored'].sum().reset_index(name='Total Runs')
total_balls_per_season = ipl_data.groupby('Season').size().reset_index(name='Total Balls')
run_rate_per_season = pd.merge(total_runs_per_season, total_balls_per_season, on='Season')
run_rate_per_season['Run Rate'] = (run_rate_per_season['Total Runs'] / run_rate_per_season['Total Balls']) * 6
print(run_rate_per_season)

     Season  Total Runs  Total Balls  Run Rate
0      2012       12955        10837  7.172649
1      2013       21487        18177  7.092590
2      2014       17943        14300  7.528531
3      2015       17427        13652  7.659098
4      2016       17962        14096  7.645573
5      2017       17920        13862  7.756456
6      2018       17926        13380  8.038565
7      2021       13877        11434  7.281966
8      2022       23052        17912  7.721751
9      2023       24428        17863  8.205117
10     2024       17329        11942  8.706582
11  2007/08       16809        13489  7.476759
12     2009       15376        13606  6.780538
13  2009/10       17754        14498  7.347496
14     2011       19928        17013  7.028037
15     2012        8368         6930  7.245022
16     2018        1172          906  7.761589
17     2019       18607        14312  7.800587
18  2020/21       18566        14559  7.651350
19     2021        3850         2991  7.723170

2. Changes in team strategies over the years

In [ ]:
# Changes in team strategies over the years
# This is a broader analysis and may involve various metrics like run rates, wicket patterns, etc.
# Here's an example of run rate changes for teams over the years

team_run_rate_per_season = ipl_data.groupby(['Season', 'Batting team']).agg({'runs_scored': 'sum', 'Ball No': 'count'}).reset_index()
team_run_rate_per_season['Run Rate'] = (team_run_rate_per_season['runs_scored'] / team_run_rate_per_season['Ball No']) * 6
print(team_run_rate_per_season)

    Season                 Batting team  runs_scored  Ball No  Run Rate
0     2012          Chennai Super Kings         1672     1316  7.623100
1     2012              Deccan Chargers         1365     1151  7.115552
2     2012             Delhi Daredevils         1580     1269  7.470449
3     2012              Kings XI Punjab         1322     1088  7.290441
4     2012        Kolkata Knight Riders         1602     1359  7.072848
..     ...                          ...          ...      ...       ...
162   2021               Mumbai Indians          506      421  7.211401
163   2021                 Punjab Kings          504      372  8.129032
164   2021             Rajasthan Royals          485      375  7.760000
165   2021  Royal Challengers Bangalore          483      381  7.606299
166   2021          Sunrisers Hyderabad          433      371  7.002695

[167 rows x 5 columns]

3. Evolution of player performances over time

In [ ]:
# Evolution of player performances over time
# Analyzing top players' run contributions over different seasons
player_performance_over_time = ipl_data.groupby(['Season', 'Striker'])['runs_scored'].sum().reset_index()
top_players_performance = player_performance_over_time.groupby('Striker').filter(lambda x: x['runs_scored'].sum() > 1000)
print(top_players_performance)

     Season         Striker  runs_scored
7      2012  AB de Villiers          150
9      2012    AC Gilchrist           73
12     2012      AD Russell           47
16     2012       AM Rahane          241
18     2012       AT Rayudu          241
...     ...             ...          ...
2807   2021       SV Samson          124
2810   2021    Shubman Gill           69
2812   2021         V Kohli           71
2813   2021       V Shankar           42
2815   2021         WP Saha            8

[1014 rows x 3 columns]